<h2>About Directives</h2>
<ng-content></ng-content>
<p>A directive is a class that operates on component elements</p>
<p>
  NgClass, NgStyle, NgModel, NgIf, NgFor, NgSwitch are examples of built-in
  directives
</p>

<button *ngIf="collapse" (click)="collapse = !collapse">More...</button>
<div *ngIf="!collapse">
  <p>A component is a type of directive</p>
  <p>Attribute directives change the DOM style or behavior</p>
  <p>Structural directives change the DOM layout</p>
  <p>NgClass sets the DOM element class property</p>
  <p>NgStyle sets the DOM element style property</p>
  <p>NgModel defines a binding</p>

  <p>
    You can host a directive using &lt;ng-container&gt;, which will not produce
    a DOM element
  </p>

  <p>
    The collapse.directive in this project is an example of a structural
    directive because it actually determines if a view is rendered
  </p>

  <p>
    I cannot think of an attribute style directive that could not be handled
    with a class, but a behavioral directive may be 'dragging' on an svgImage,
    which does not support drag-and-drop, or perhaps 'sticky', which could
    persist state in localStorage.
  </p>
</div>
