<h2>About Angular Libraries</h2>
<ng-content></ng-content>

<p>Each library name begins with the @angular prefix</p>
<p>
  Libraries are installed with <code>npm</code> and consumed via
  <code>import</code>
</p>

<p>Every application bootstraps a root module</p>
<p>The root module imports feature modules</p>
<a href="#" class="outline" role="button" *ngIf="collapse" (click)="collapse = !collapse">More...</a>
<div *ngIf="!collapse">
  <p>Modules consolidate components, directives and pipes</p>
  <p>A library is a module</p>
  <p>A library can import components and modules</p>
  <p>
    imported modules are added to a component as "material" via the
    <code>import</code> @NgModule metadata property
  </p>

  <p>Modules add services to the application</p>

  <code innerHTML="{{ code }}"></code>
</div>
