<h2>Angular Glossary of Terms</h2>
<ng-content></ng-content>
<div class="nested">
  <details>
    <summary>Components</summary>
    <article>
      <app-meta-component></app-meta-component>
    </article>
  </details>
  <details>
    <summary>Modules</summary>
    <article>
      <app-meta-module></app-meta-module>
    </article>
  </details>
  <details>
    <summary>Libraries</summary>
    <article>
      <app-meta-library></app-meta-library>
    </article>
  </details>
  <details>
    <summary>Directives</summary>
    <article>
      <app-meta-directive></app-meta-directive>
    </article>
  </details>
  <details>
    <summary>Providers</summary>
    <article>
      <app-meta-provider></app-meta-provider>
    </article>
  </details>
  <details>
    <summary>Data Binding</summary>
    <article>
      <app-meta-data-bound
        photoId="1"
        (like)="onLike($event)"
      ></app-meta-data-bound>
      <p>
        Totals Likes: <b>{{ likes }}</b>
      </p>
    </article>
  </details>
</div>
<p>Total Running Time: {{ runningTime / 1000 | number : "1.0-0" }}</p>
