<h2>Dictionary Component</h2>
<ng-content></ng-content>
<div class="nested">
  <app-ng-meta-component><p>This is a component</p></app-ng-meta-component>
</div>
<div class="nested">
  <app-ng-meta-module><p>This is a component</p></app-ng-meta-module>
</div>
<div class="nested">
  <app-ng-meta-library><p>This is a component</p></app-ng-meta-library>
</div>
<div class="nested">
  <app-ng-meta-directive><p>This is a component</p></app-ng-meta-directive>
</div>
<div class="nested">
  <app-ng-meta-provider><p>This is a component</p></app-ng-meta-provider>
</div>
