<div class="container">
  <h1>Tauri Disk Space Analyzer</h1>
  <p>{{ rootDirectory }}</p>

  <div class="grid row" *ngIf="folders">
    <button *ngIf="parentDirectory" (click)="drill(parentDirectory)">
      {{ parentDirectory }}
    </button>
    <div *ngFor="let item of folders">
      <button class="flex" type="button" (click)="drill(item.name)">
        <span class="center">{{ removePathPrefix(item.name) }}</span>
        <span class="center">{{ asFileSize(item.size) }}</span>
      </button>
    </div>
  </div>
  <div *ngElse>
    <p>No folder content to show</p>
  </div>
  <div class="row">
    <app-usage-pie-chart [folders]="folders"></app-usage-pie-chart>
  </div>
</div>
