<h2>About Pipes</h2>

<p>
  Angular pipes are used to transform data in the view. They are used to format
  data for display, or to transform data for use in a component or service.
</p>

<p>
  See the dictionary component for a decimal pipe example, rounding the system
  time to seconds. The "|" character is used to pipe the data to the
  <a href="https://angular.io/api/common/DecimalPipe#digitsinfo">DecimalPipe</a
  >.
  <code
    ><i>{{</i>Total Running Time: runningTime / 1000 | number : "1.0-0"<i
      >}}</i
    ></code
  >
</p>
