@import url("https://cdnjs.cloudflare.com/ajax/libs/picocss/1.5.2/pico.min.css");

:root {
  --color-font: #dde;
  --color-pie-start: rgb(122, 101, 237);
  --color-pie-end: rgb(31, 138, 113);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
}

body.dark {
  background-color: black;
  color: var(--color-font);
}

body.dark h1, input {
  color: var(--color-font);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border-style: outset;
  padding: 0.6em 1.2em;
}

button:focus,
input:focus {
  border-style: inset;
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}

input,
button {
  outline: none;
}

#greet-input {
  margin-right: 5px;
}
